body {
    font-family: Helvetica, sans-serif;
    margin: 0;
}
/* Header */
.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0;
    padding: 0;
}

.header-top {
    color: #E5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 350px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.links {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
    gap: 200px;
}

.header-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 16px;
    color: #E5e7eb;
}

.header-text button {
    padding: 6px 32px;
    margin-top: 12px;
    background-color: #3882f6;
    color: #E5e7eb;
    border-width: 0;
    border-radius: 4px;
    font-weight: bold;
}

.header-top,
.header-content {
    margin-left: auto;
    margin-right: auto;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
}

.info-top {
    margin-top: 36px;
    margin-bottom: 36px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-self: center;
    align-self: center;
}

.info {
    width: 140px;
}

.text {
    text-align: center;
    color: rgb(39, 39, 39);
}

.info-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-around;
    gap: 42px;
}

.info img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    border-radius: 12px;
    width: 120px;
}

/* Quote */

.quote-section {
    background-color: #E5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 140px;
}

.quote {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.author {
    margin-right: 36px;
    margin-bottom: 60px;
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}